.orderSummary {
  color: #00394e;
  margin-left: 1em;
  margin-top: 1em;
}

.table {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}

.headertable {
  color: #00394e;
  font-size: 13px;
  margin-bottom: 10em;
}

.row {
  font-size: small;
}

.productcell {
  text-align: left;
}

.type {
  text-align: left;
}

.price {
  text-align: left;
}

.quantity {
  text-align: right;
}

.total {
  text-align: right;
}

.row {
  color: #00394e;
}

.pricecontent {
  text-align: right;
}

.qtycontent {
  text-align: right;
}

.totalcontent {
  text-align: right;
}

.totalamount {
  text-align: right;
  padding: 1em;
  color: #00394e;
}

table {
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #e6e6e6;
  padding: 0.5rem;
  text-align: left;
}
