.product__list {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  margin: 1.5em;
  //background-image: url(./../../../../images/logo1_GetCrafty.png);
  background-size: contain;
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 1em -0.25em hsla(286, 83%, 21%, 0.75);
  margin: 0.5em;
  padding: 1em;
  background-color: #8bb8c7;
}

.product__media {
  display: flex;
  justify-content: space-around;
  img {
    height: 8em;
    margin: 0 auto;
  }
}

.product__body {
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.2em 0;
  height: 6em;
  margin: 0.5em;
  h3 {
    margin: 0 auto;
    text-transform: uppercase;
  }
  p {
    font-size: 0.9em;
    overflow: hidden;
    margin: 0;
  }
}

.product__buttons {
  display: flex;
  margin: 0 auto;
  span {
    font-size: 0.8em;
    box-sizing: border-box;
    padding: 0.5em 1em;
    em {
      font-size: 1.5em;
    }
  }
}
