.title {
  text-align: center;
  color: #00394e;
}

.card {
  background-color: #8bb8c7;
  height: 100%;
  padding: 1em;
  margin: 1em;
  width: 19 5em;
  border-radius: 0.5em;
}

.past-order-info {
}

.date {
  text-align: center;
  width: 50%;
  float: left;
}

.value {
  text-align: center;
  width: 50%;
  float: right;
}

.button {
  color: white;
  border: none;
  margin-top: 0.7em;
  margin-left: 25%;
  width: 50%;
  background-color: #00394e;
  border-radius: 0.5em;
}
