.beer___list {
  display: flex;
  overflow-x: scroll;
  flex-flow: column wrap;
  padding: 1em 0;
}

.beer__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 1em -0.25em hsla(286, 83%, 21%, 0.75);
  margin: 0.5em;
  background-color: #f5f2d0;
}

.beer__media {
  width: 2em;
}

.beer__body {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: 6em;
  margin: 0.5em;
  h4 {
    margin: 0;
  }
  p {
    font-size: 0.5em;
    overflow: hidden;
  }
}

.beer__buttons {
  display: flex;
  p {
    box-sizing: border-box;
    padding: 0.5em 1em;
  }
}
