.footerjsx {
  width: 100%;
  height: 5em;
  font-size: small;
  display: flex;
  background-color: #d1c9c9;
  align-items: center;
  text-align: center;
  margin: auto;
  //position: absolute;
  bottom: 0;
}

.footerLink {
  margin-left: 3em;
}
