.footerjsx {
  width: 100%;
  height: 60px;
  font-size: small;
  display: flex;
  background-color: #00394e;
  color: white;
  align-items: center;
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

.footerLink {
  text-align: center;
}

.footerlinkspace {
  width: 33%;
}
