.container{
  max-width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
    form{
      align-items:center;
    }
    input#name-input,
    #description-input,#country-input,
    #city-input, #address-input,
    #post-code-input, #contact-input {
     width:75%;
    }
    table{
      width:100%;
      background-color: #ebebeb;
      padding: 3em;
      border: 1px solid black;
      margin-bottom: 2em;
    }
}