//Loading
.Loading {
  background-color: #00394e;
  text-align: center;
  padding-top: 10em;
  background-color: #fad693;
}
//Section_#01
.Logo {
  margin-top: 30em;
  background-color: #fad693;
}
.logo-position-section-1 {
  width: 10em;
  align-items: center;
  padding: 1em;
  background-color: #00394e;
  border-radius: 0.5em;
  margin-left: 25%;
  margin-top: 1em;
  margin-bottom: 3em;
}

//Section_#02 - About/Welcome
//Section_#03 - Our Beers
//Section_#04 - Brewery Experience
//Section_#05 - Footer

//Section_#02 - Welcome
.welcome {
  text-align: center;
  display: block;
  justify-content: justify;
  align-items: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 5em;
  color: #00394e;
}
.SignUp {
  padding-top: 3em;
}
//Section_#03 - Our Beers
.beersection {
  margin-left: 1em;
  text-align: center;
  display: block;
  justify-content: justify;
  align-items: center;
  margin: auto;
  margin-top: 7em;
  margin-bottom: 5em;
  color: #00394e;
}

.randombeerimg {
  margin-top: 3em;
  height: 15em;
  text-align: center;
  display: block;
  justify-content: justify;
  align-items: center;
  margin: auto;
}

.beerdescription {
  text-align: justify;
  color: #00394e;
}

//Section_#04 - Brewery Experience
.breweryTitle {
  text-align: center;
  color: #00394e;
}

.brew1 {
  height: 7em;

  margin-left: 1em;
}

.brew2 {
  display: flex;
  height: 13em;
  width: 11em;
}

.brew3 {
  width: 20em;
  margin-left: 2em;
  margin-right: 2em;
}
