.navbar {
  display: flex;
  align-items: center;
  // position: fixed;
  background-color: #00394e;
  a {
    padding: 1em;
    &:first-child {
      margin-right: auto;
    }
  }
  button {
    border: 0;
  }
  img {
    width: 3em;
    border-radius: 50%;
    height: 3em;
  }
}
.authentication {
  color: white;
  font-weight: 600;
}
