.navbar {
  display: flex;
  align-items: center;
  // position: fixed;
  background-color: #00394e;
  a {
    padding: 1em;
  }
  button {
    border: 0;
  }
  img {
    width: 4em;
    height: 4em;
  }
}
.authentication {
  color: white;
  font-weight: 600;
}
